<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895270264279-blamsrb1ondnm3ftlks78a2hd9oaaqv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895270264279-blamsrb1ondnm3ftlks78a2hd9oaaqv2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>895270264279-t60gdeh1mm0uc7s94t4ubv21m5th0sno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>KEY-DELETE</string>
	<key>GCM_SENDER_ID</key>
	<string>895270264279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tahayasinkoksal.fiziktedavi.bitirmeProjesiFizikTedavi</string>
	<key>PROJECT_ID</key>
	<string>diyetasistani-c1740</string>
	<key>STORAGE_BUCKET</key>
	<string>diyetasistani-c1740.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895270264279:ios:2f6bb51a9dc040448dbf92</string>
	<key>DATABASE_URL</key>
	<string>https://diyetasistani-c1740-default-rtdb.firebaseio.com</string>
</dict>
</plist>